/***************************************
 __   __  _______  __   __  _______  ___      _______  _     _ 
|  | |  ||       ||  | |  ||       ||   |    |       || | _ | |
|  |_|  ||    ___||  |_|  ||    ___||   |    |   _   || || || |
|       ||   |___ |       ||   |___ |   |    |  | |  ||       |
|       ||    ___||_     _||    ___||   |___ |  |_|  ||       |
|   _   ||   |___   |   |  |   |    |       ||       ||   _   |
|__| |__||_______|  |___|  |___|    |_______||_______||__| |__|
****************************************/


#heyflow {
	margin: 20px 0;
}

#coupon {
	margin: 40px 5px;
	padding: 40px 0;
	border-style: dashed;
	border-color: black;
	border-width: 2px;
	display: none;
}

#exitIntentPopup {
	text-align: center;
}



/***************************************
__   __  _______  __   __  _______  __   __  _______  _______ 
|  | |  ||       ||  | |  ||       ||  | |  ||  _    ||       |
|  |_|  ||   _   ||  | |  ||_     _||  | |  || |_|   ||    ___|
|       ||  | |  ||  |_|  |  |   |  |  |_|  ||       ||   |___ 
|_     _||  |_|  ||       |  |   |  |       ||  _   | |    ___|
  |   |  |       ||       |  |   |  |       || |_|   ||   |___ 
  |___|  |_______||_______|  |___|  |_______||_______||_______|
****************************************/


.embed-container {
	height: 42.1875vw;
	width: 75vw;
	margin: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	width: 100%;
	height: 100%;
}

#video-subtext {
	font-size: 4vw;
	color: #00407A;
	margin-bottom: 40px;
}



/***************************************
 _______  __   __  _______  _     _  _______  ______   
|       ||  | |  ||       || | _ | ||       ||    _ |  
|  _____||  |_|  ||   _   || || || ||    ___||   | ||  
| |_____ |       ||  | |  ||       ||   |___ |   |_||_ 
|_____  ||       ||  |_|  ||       ||    ___||    __  |
 _____| ||   _   ||       ||   _   ||   |___ |   |  | |
|_______||__| |__||_______||__| |__||_______||___|  |_|
 _     _  ___   _______  _______  ______    ______     
| | _ | ||   | |       ||   _   ||    _ |  |      |    
| || || ||   | |____   ||  |_|  ||   | ||  |  _    |   
|       ||   |  ____|  ||       ||   |_||_ | | |   |   
|       ||   | | ______||       ||    __  || |_|   |   
|   _   ||   | | |_____ |   _   ||   |  | ||       |   
|__| |__||___| |_______||__| |__||___|  |_||______| 
****************************************/


body {
	font-family: "OpenSans";
}

h1 {
	font-family: "EB Geramond";
	font-weight: bold;
}

h2 {
	font-family: "EB Geramond";
	font-weight: bold;
}

h3 {
	font-family: "EB Geramond";
	font-weight: bold;
}

h4 {
	font-family: "EB Geramond";
	font-weight: bold;
}

h5 {
	font-family: "EB Geramond";
	font-weight: bold;
}

#announcement {
	color: #D4AF37;
	font-size: 3vw;
}

#announcement-memo-header {
	font-size: 3.5vw;
	font-weight: bold;
}

#banner-text {
	background-color: #016CAF;
	color: white;
	font-size: 5vw;
	font-weight: bold;
	padding: 12px;
}

#banner-subtext h2 {
	font-size: 3vw;
}

#ixl8s {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: rgb(101, 191, 118);
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
	font-weight: bold;
}

#founder {
	margin-top: 20px;
}

#founder-top {
	width: 100%;
	padding-top: 10px;
}

#founder-text {
	padding-top: 0px;
	text-align: right;
	color: #00407A;
	font-size: 5vw;
	font-family: "EB Geramond";
}

.customer-sign {
	padding: 10px;
	border-bottom-left-radius: 25px !important;
	border-bottom-right-radius: 25px !important;
	border-top-left-radius: 25px !important;
	border-top-right-radius: 25px !important;
}

#satisfaction-guaranteed {
	margin: 40px 5px;
	padding: 40px 0;
	border-style: dashed;
	border-color: black;
	border-width: 2px;
}

#ixl9s {
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-color: #D4AF37;
	text-decoration-thickness: 3px;
	text-underline-offset: 5px;
	font-size: 5vw !important;
}

#satisfaction-guaranteed span {
	font-size: 7vw;
}

#satisfaction-guaranteed h3 {
	font-size: 5vw;
	margin-bottom: 40px;	
	color: #016CAF;
}

#satisfaction-guaranteed h4 {
	font-size: 4vw;
}

#satisfaction-guaranteed p {
	font-size: 3vw;
}

#service-map {
	background-color: #00407A;
	padding: 40px 0;
}

#service-map h3 {
	color: white;
	font-size: 7vw;
	font-weight: bold;
	padding: 20px 0;
}

#service-map img {
	width: auto;
	max-height: 70vh;
	margin: auto;
}

#installers {
	padding-top: 40px;
	text-align: center;
}

#installers h3 {
	font-size: 5vw;
	color: #00407A;
	font-weight: bold;
}

#installers h5 {
	font-size: 3vw;
	padding-top: 10px;
}

#installers button {
	font-size: 2.5vw;
	background-color: #016CAF;
	color: white;
}

#installers img {
	padding-top: 40px;
}

#what-to-expect {
	padding: 0px 4px 40px 4px;
	background-color: #016CAF;
}

#what-to-expect h3 {
	font-weight: bold;
	font-size: 7vw;
	color: white;
	padding: 40px 0;
}

#what-to-expect button {
	width: auto;
	font-size: 3vw;
	background-color: #D4AF37;
	color: white;
	margin: auto;
	margin-bottom: 20px;
	padding: 10px 20px;
	border-bottom-left-radius: 15px !important;
	border-bottom-right-radius: 15px !important;
	border-top-left-radius: 15px !important;
	border-top-right-radius: 15px !important;
}

#what-to-expect img {
	width: 100%;
	margin: auto;
	padding: 10px;
	max-width: 250px;
}

#what-to-expect p {
	padding-top: 20px;
	color: white;
	font-size: 4vw;
	font-weight: bold;
}

#limited-time-offer {
	padding: 40px;
	background-color: #D4AF37;
	color: white;
	font-weight: bold;
}

#limited-time-offer h3 {
	font-size: 7vw;
}

#limited-time-offer h4 {
	font-size: 5vw;
}

#limited-time-offer h5 {
	font-size: 3vw;
}

#benefits h3 {
	font-size: 7vw;
	padding-bottom: 20px;
}

#benefits ul {
	text-align: left;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

#benefits li {
	font-size: 3.5vw;
	padding-left: 1em;
}

#benefits li:before {
	content: "✅";
	padding-right: 5px;
}

#what-sets-us-apart {
	margin-top: 40px;
	padding: 40px;
	background-color: #D4AF37;
	color: white;
	font-weight: bold;
}

#what-sets-us-apart h3 {
	font-size: 7vw;
	padding-bottom: 20px;
}

#what-sets-us-apart h4 {
	font-size: 5vw;
}

#what-sets-us-apart h5 {
	font-size: 3vw;
}

#colors h3 {
	margin-top: 40px;
	font-size: 7vw;
}

#colors .col-6 {
	padding: 20px;
}

#colors p {
	font-family: "EB Geramond";
	font-size: 3.5vw;
	font-weight: bold;
}

.colors-style {
	font-family: "OpenSans";
	font-size: 80%;
	font-weight: normal;
}

#reviews {
	margin-top: 20px;
	padding-bottom: 80px;
	background-color: #00407A;
	color: white;
}

#reviews h3 {
	margin-top: 40px;
	font-size: 7vw;
	font-weight: bold;
}

#more-benefits {
	padding: 40px;
	background-color: grey;
	color: white;
}

#more-benefits h3 {
	font-size: 7vw;
	font-weight: bold;
}

#more-benefits h4 {
	font-size: 5vw;
	font-weight: bold;
	padding: 20px 0;
}

#more-benefits p {
	font-size: 4vw;
}

#more-benefits img {
	width: 50%;
	height: auto;
	margin-top: 40px;
}

#before-after {
	margin-top: 40px;
}

#before-after h3 {
	font-size: 5vw;
	width: 80%;
	margin: auto;
	background-color: #016CAF;
	color: white;
	margin-bottom: 20px;
}

#before-after p {
	font-size: 7vw;
	color: #016CAF;
	font-weight: bold;
}

#before-after img {
	width: 70%;
	height: auto;
}

#testimonial h3 {
	font-size: 7vw;
}

#options {
	margin-top: 40px;
	padding: 40px;
	background-color: #00407A;
	color: white;
	text-align: left;
}

#options h3 {
	text-align: center;
	font-size: 7vw;
	margin-bottom: 40px;
}

#options h4 {
	font-size: 5vw;
}

#options p {
	font-size: 3vw;
}

#options .col-4 {
	margin-top: 40px;
}

#options .col-8 {
	margin-top: 40px;
}

#options .col-3 {
	margin-top: 40px;
}

#options .col-7 {
	margin-top: 40px;
}

#options .col-5 {
	margin-top: 40px;
}

#options .col-9 {
	margin-top: 40px;
}

#about-us h3 {
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 7vw;
}

#about-us h4 {
	color: #016CAF;
	font-size: 3vw;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#about-us h5 {
	font-size: 2.5vw;
	padding-bottom: 20px;
}

#about-us img {
	max-height: 350px;
}

#about-us p {
	font-size: 2vw;
}

#about-us span {
	font-size: 4vw;
}

#about-us .row {
	margin-top: 80px;
}

#disclaimer p {
	padding: 40px;
}

#disclaimer-header h1 {
	font-size: 4vw;
}

#disclaimer-header h2 {
	font-size: 3vw;
}

#footer {
	padding-top: 20px;
	background-color: #00407A;
	color: white;
}

#footer img {
	max-width: 250px;
	height: auto;
	margin: auto;
}

#footer h4 {
	margin-top: 20px;
	text-align: left;
}

#footer h5 {
	text-align: left;
}

#footer li {
	display: inline;
	padding-left: 20px;
}

#footer img {
	width: 100%;
}
