{% extends "macros/skeleton.html" %} {% block insert_header %} {% endblock %} {% block body %}
<div class="container-fluid text-center">
  <div class="row" id="announcement">
    <span id="announcement-memo"
      ><span id="announcement-memo-header">This Month:</span> 50% Off Installation Cost!</span
    >
  </div>

  <div class="row" id="banner">
    <h1 id="banner-text">
      Introducing...<br />
      Budget-Friendly Walk-In Showers!
    </h1>
  </div>

  <div class="row" id="banner-subtext">
    <h2>
      Experience the luxury of a new shower or bath<br />installed in as little as
      <span id="ixl8s" class="underline underline-offset-2 decoration-2 decoration-wavy decoration-brandgreen font-bold"
        >ONE DAY*</span
      >
    </h2>
  </div>

  <div class="row" id="founder">
    <div class="col-4">
      <img loading="lazy" id="founder-top" src="/static/img/min/3d-shower.png" />
    </div>
    <div class="col-8" id="founder-text">
      Your new shower...<br />
      completed in <span style="font-size: larger; font-weight: bolder">1 day*</span><br />
      done right the 1st time!<br />
    </div>
  </div>

  <div class="row" id="video-uno">
    <div class="embed-container">
      <iframe loading="lazy" src="https://www.youtube.com/embed/qkawFgXwQGg" frameborder="0" allowfullscreen></iframe>
    </div>

    <h3 id="video-subtext">Oh wow! 🤯 ❤️ 🎊</h3>
  </div>

  <div class="row" id="heyflow">
    <heyflow-wrapper flow-id="shower-wizard" dynamic-height style-config='{"width": "100%"}'></heyflow-wrapper>
  </div>

  <div class="row" id="coupon">
    <h3>LIMITED ONE-TIME 24-HOUR OFFER</h3>
    <h4>Complete The Application Within 24-Hours To Unlock Your Additional $250 OFF Coupon!</h4>
    <h5>Coupon Valid Until <span id="thirtyDayDate"></span></h5>
    <h5>Offer Valid Until <span id="twentyFourHourDate"></span> EST</h5>
    <hr />
    <a href="#heyflow" class="btn btn-lg btn-success" style="width: 75%; margin: auto; display: block"
      >UNLOCK MY COUPON</a
    >
  </div>

  <div class="row" id="happy-customers">
    <div class="col-sm-4">
      <img loading="lazy" class="img-fluid rounded customer-sign" src="/static/img/min/sign-1.jpg" />
    </div>
    <div class="col-sm-4">
      <img loading="lazy" class="img-fluid rounded customer-sign" src="/static/img/min/sign-2.jpg" />
    </div>
    <div class="col-sm-4">
      <img loading="lazy" class="img-fluid rounded customer-sign" src="/static/img/min/sign-3.jpg" />
    </div>
  </div>

  <div class="row" id="satisfaction-guaranteed">
    <h3>
      Your Home is Our Priority<br /><br />
      Because it's <span id="ixl9s">Yours</span>
    </h3>

    <div class="col-12">
      <span>🏡</span>
      <h4>Double-Lifetime Warranty</h4>
      <p>
        Your Shower comes with a transferable lifetime warranty that protects against manufacturing, material, and
        workmanship defects for you and the next homeowner.
      </p>
    </div>

    <div class="col-12">
      <span>🛠️</span>
      <h4>Lifetime Workmanship Warranty</h4>
      <p>Your Shower is warranted in order to cover repair or replacement of the product.</p>
    </div>

    <div class="col-12">
      <span>🍎</span>
      <h4>Apples to Apples Program</h4>
      <p>
        Assures that the price for the work specified on the agreement is the lowest price available for workmanship,
        material, quality and reliability. This guarantees the best available price.
      </p>
    </div>

    <!--
    <div class="col-6" style="text-align: left; padding-left: 40px; font-size: 3vw">
      <p>satisfaction</p>
      <p style="color: #00407a; font-weight: bold">/sadəsˈfakSHən/</p>
    </div>

    <div class="col-6" style="text-align: left; padding-right: 40px; font-size: 2vw">
      <p><i>Noun</i></p>
      <p>fulfillment of one's wishes, expectations, or needs.</p>
    </div>
    -->
  </div>

  <div class="row" id="service-map">
    <h3>Always Working In Your Neighborhood!</h3>
    <img loading="lazy" class="img-fluid" src="/static/img/min/map.jpg" />
  </div>

  <!--
            <div class="row" id="installers">
                <h3>Service You Can Trust</h3>
                <h4>Currently planning for 884 bath & shower installs in 2025<br/><br/>Get your price now before our schedule is full!</h4>

                <div class="col-sm-4">
                    <img loading="lazy" class="img-fluid" src="bbb.png">
                </div>
                <div class="col-sm-8">
                    <img loading="lazy" class="img-fluid" src="angi.png">
                </div>

                <img loading="lazy" class="img-fluid" src="https://favoredcompany.com/cdn-cgi/image/fit=scale-down,width=864,format=auto/https://get.yankeehomeimprovement.com/images/showers/teams/Clarence%20Glen%20and%20Mario%20Mario.png">
                <div class="col-6">
                    <h5>MARIO & MARIO</h5>
                    <button class="btn">325 Baths</button>
                </div>
                <div class="col-6">
                    <h5>MARIO & MARIO</h5>
                    <button class="btn">296 Baths</button>
                </div>
            </div>
            -->

  <div class="row" id="what-to-expect">
    <h3>What To Expect</h3>
    <div class="col-4">
      <div class="row">
        <button class="rounded">1</button>
      </div>
      <img
        src="https://favoredcompany.com/cdn-cgi/image/fit=scale-down,width=864,format=auto/https://get.yankeehomeimprovement.com/images/showers/expect/Tell%20Us%20About%20Your%20Project.png"
      />
      <p>Tell us about your project</p>
    </div>

    <div class="col-4">
      <div class="row">
        <button class="rounded">2</button>
      </div>
      <img
        src="https://favoredcompany.com/cdn-cgi/image/fit=scale-down,width=864,format=auto/https://get.yankeehomeimprovement.com/images/showers/expect/Get%20Your%20Price.png"
      />
      <p>Get your price locked in for one year</p>
    </div>

    <div class="col-4">
      <div class="row">
        <button class="rounded">3</button>
      </div>
      <img
        src="https://favoredcompany.com/cdn-cgi/image/fit=scale-down,width=864,format=auto/https://get.yankeehomeimprovement.com/images/showers/expect/Install%20Your%20Dream%20Shower.png"
      />
      <p>Install your dream shower</p>
    </div>
  </div>

  <div class="row" id="limited-time-offer">
    <h3>Limited Time Offer</h3>
    <h5>Get your project started with no money down!*</h5>
    <h4>50% Off Installation Cost</h4>
  </div>

  <div class="row" id="heyflow">
    <heyflow-wrapper flow-id="shower-wizard" dynamic-height style-config='{"width": "100%"}'></heyflow-wrapper>
  </div>

  <div class="row" id="coupon">
    <h3>LIMITED ONE-TIME 24-HOUR OFFER</h3>
    <h4>Complete The Application Within 24-Hours To Unlock Your Additional $250 OFF Coupon!</h4>
    <h5>Coupon Valid Until <span id="thirtyDayDate"></span></h5>
    <h5>Offer Valid Until <span id="twentyFourHourDate"></span> EST</h5>
    <hr />
    <a href="#heyflow" class="btn btn-lg btn-success" style="width: 75%; margin: auto; display: block"
      >UNLOCK MY COUPON</a
    >
  </div>

  <div class="row" id="benefits">
    <h3>Instant Baths and Showers</h3>
    <div class="col-sm-6">
      <ul>
        <li>Double Lifetime Warranty</li>
        <li>1 Day Installations On Most Projects</li>
        <li>Antimicrobial & Non-Porous Materials</li>
        <li>Customized Safety Accessories</li>
        <li>Increase Home Value Instantly</li>
        <li>Dedicated Service Department</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <img class="img-fluid rounded" src="https://improvement-wizard.pages.dev/static/img/min/shower-8.jpg" />
    </div>
  </div>

  <div class="row" id="what-sets-us-apart">
    <h3>What Sets Us Apart</h3>
    <div class="col-4">
      <h4>40,000+</h4>
      <h5>Satisfied Families and Counting</h5>
    </div>
    <div class="col-4">
      <h4>43+</h4>
      <h5>Years In Business</h5>
    </div>
    <div class="col-4">
      <h4>2,000+</h4>
      <h5>5 Star Reviews and Counting!</h5>
    </div>
  </div>

  <div class="row" id="colors">
    <h3>What Your Neighbors<br />Have Completed</h3>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-6">
          <img loading="lazy" class="img-fluid rounded" src="/static/img/min/monterey-butterscotch-tile.JPEG" />
          <p>Butterscotch<br /><span class="colors-style">(Tile)</span></p>
        </div>
        <div class="col-6">
          <img loading="lazy" class="img-fluid rounded" src="/static/img/min/monterey-carrara-tile.JPEG" />
          <p>Carrara<br /><span class="colors-style">(Tile)</span></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-6">
          <img loading="lazy" class="img-fluid rounded" src="/static/img/min/monterey-carrara-velvet.jpg" />
          <p>Carrara<br /><span class="colors-style">(Velvet)</span></p>
        </div>
        <div class="col-6">
          <img loading="lazy" class="img-fluid rounded" src="/static/img/min/tub-after.png" />
          <p>Carrara<br /><span class="colors-style">(Velvet)</span></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-6">
          <img loading="lazy" class="img-fluid rounded" src="/static/img/min/shower-8.jpg" />
          <p>Creme<br /><span class="colors-style">(Tile)</span></p>
        </div>
        <div class="col-6">
          <img loading="lazy" class="img-fluid rounded" src="/static/img/min/shower-2.jpg" />
          <p>Carrara<br /><span class="colors-style">(Tile)</span></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-6">
          <img loading="lazy" class="img-fluid rounded" src="/static/img/min/shower-3.jpg" />
          <p>Butternut<br /><span class="colors-style">(Velvet)</span></p>
        </div>
        <div class="col-6">
          <img loading="lazy" class="img-fluid rounded" src="/static/img/min/shower-4.jpg" />
          <p>Creme<br /><span class="colors-style">(Velvet)</span></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-6">
          <img loading="lazy" class="img-fluid rounded" src="/static/img/min/shower-5.jpg" />
          <p>Butterscotch<br /><span class="colors-style">(Velvet)</span></p>
        </div>
        <div class="col-6">
          <img loading="lazy" class="img-fluid rounded" src="/static/img/min/shower-6.jpg" />
          <p>White<br /><span class="colors-style">(Tile)</span></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-6">
          <img loading="lazy" class="img-fluid rounded" src="/static/img/min/shower-9.jpg" />
          <p>Creme<br /><span class="colors-style">(Tile)</span></p>
        </div>
        <div class="col-6">
          <img loading="lazy" class="img-fluid rounded" src="/static/img/min/shower-10.jpg" />
          <p>Butternut<br /><span class="colors-style">(Tile)</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="reviews">
    <h3>What Your Neighbors<br />Are Saying</h3>

    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-e30c85c9-35a1-4495-8d87-155ae563a5b8" data-elfsight-app-lazy></div>
  </div>

  <div class="row" id="more-benefits">
    <h3>Walk-In Shower Benefits</h3>

    <div class="col-sm-6">
      <img src="/static/img/raw/increased-safety.png" />
      <h4>Increased Safety</h4>
      <p>
        Unlike bathtubs with a high threshold, walk-in showers are more accessible and are perfect for those with
        mobility challenges
      </p>
    </div>
    <div class="col-sm-6">
      <img src="/static/img/raw/easy-to-clean.png" />
      <h4>Easy To Clean</h4>
      <p>
        Walk-in showers mostly have flat surfaces where there are fewer curves and areas that collect dirt and grime
      </p>
    </div>

    <div class="col-sm-6">
      <img src="/static/img/raw/water-efficiency.png" />
      <h4>Water Efficiency</h4>
      <p>
        A shower traditionally uses less water than bathtubs, posing an opportunity to use less water and energy from
        your water heater
      </p>
    </div>
    <div class="col-sm-6">
      <img src="/static/img/raw/slip-resistant.png" />
      <h4>Slip Resistant</h4>
      <p>
        Slips in the shower can pose an extreme risk, our shower pans feature slip resistant material to prevent
        accidents in the shower
      </p>
    </div>

    <div class="col-sm-6">
      <img src="/static/img/raw/increased-space.png" />
      <h4>Increased Space</h4>
      <p>
        A walk-in shower allows for a larger footprint in your bathroom while old tub enclosures waste space by limiting
        the square footage of your space
      </p>
    </div>
    <div class="col-sm-6">
      <img src="/static/img/raw/can-fit-any-bathroom.png" />
      <h4>Can Fit Any Bathroom</h4>
      <p>
        With a walk-in shower you are not limited to a standard size, you have the flexibility to design your shower
        exactly how you want it to fit in your space
      </p>
    </div>
  </div>

  <div class="row" id="before-after">
    <h3 class="rounded">Tub-To-Shower Conversion</h3>
    <div class="col-6">
      <img loading="lazy" class="img-fluid rounded" src="/static/img/min/tub-before.jpg" />
      <p>BEFORE</p>
    </div>
    <div class="col-6">
      <img loading="lazy" class="img-fluid rounded" src="/static/img/min/tub-after.png" />
      <p>AFTER</p>
    </div>

    <h3 class="rounded">Shower Replacement</h3>
    <div class="col-6">
      <img loading="lazy" class="img-fluid rounded" src="/static/img/min/shower-before.jpg" />
      <p>BEFORE</p>
    </div>
    <div class="col-6">
      <img loading="lazy" class="img-fluid rounded" src="/static/img/min/shower-after.jpg" />
      <p>AFTER</p>
    </div>

    <h3 class="rounded">The Options Are Endless...</h3>
  </div>

  <div class="row" id="heyflow">
    <heyflow-wrapper flow-id="shower-wizard" dynamic-height style-config='{"width": "100%"}'></heyflow-wrapper>
  </div>

  <div class="row" id="coupon">
    <h3>LIMITED ONE-TIME 24-HOUR OFFER</h3>
    <h4>Complete The Application Within 24-Hours To Unlock Your Additional $250 OFF Coupon!</h4>
    <h5>Coupon Valid Until <span id="thirtyDayDate"></span></h5>
    <h5>Offer Valid Until <span id="twentyFourHourDate"></span> EST</h5>
    <hr />
    <a href="#heyflow" class="btn btn-lg btn-success" style="width: 75%; margin: auto; display: block"
      >UNLOCK MY COUPON</a
    >
  </div>

  <div class="row" id="testimonial">
    <h3>AWS CARES ❤️</h3>
    <div class="embed-container">
      <iframe loading="lazy" src="https://www.youtube.com/embed/0DjFQGSwd7s" frameborder="0" allowfullscreen></iframe>
    </div>
    <p id="video-subtext">Shower completed in 📍 Northwest, Michigan</p>
  </div>

  <div class="row" id="options">
    <h3>Customized Accessories</h3>

    <div class="col-4">
      <img
        class="img-fluid rounded"
        src="https://favoredcompany.com/cdn-cgi/image/fit=scale-down,width=864,format=auto/https://get.yankeehomeimprovement.com/images/showers/accessories/Delta%20Shower%20Head.jpg"
      />
    </div>
    <div class="col-8">
      <h4>Shower Heads</h4>
      <p>
        You can have the shower head you've always wanted with options like rain shower heads, hand-held, spa-like or
        multi-functional shower heads
      </p>
    </div>

    <div class="col-8">
      <h4>Grab Bars</h4>
      <p>
        It’s time to feel safe in the shower again, reduce the risk of falling by including multiple grab bars in your
        custom design
      </p>
    </div>
    <div class="col-4">
      <img
        class="img-fluid rounded"
        src="https://favoredcompany.com/cdn-cgi/image/fit=scale-down,width=864,format=auto/https://get.yankeehomeimprovement.com/images/showers/accessories/Grab%20Bars.jpeg"
      />
    </div>

    <div class="col-3">
      <img
        class="img-fluid rounded"
        src="https://favoredcompany.com/cdn-cgi/image/fit=scale-down,width=864,format=auto/https://get.yankeehomeimprovement.com/images/showers/accessories/BCI%20Shower%20Seat.jpeg"
      />
    </div>
    <div class="col-9">
      <h4>Safety Seats</h4>
      <p>Bathe comfortably with a built-in or foldable shower seat that can minimize the chance of a slip or fall</p>
    </div>

    <div class="col-7">
      <h4>Storage Shelves</h4>
      <p>
        Increase the storage space in your shower and conveniently store your toiletries with our corner shelves,
        built-in niches and shower caddies
      </p>
    </div>
    <div class="col-5">
      <img
        class="img-fluid rounded"
        src="https://favoredcompany.com/cdn-cgi/image/fit=scale-down,width=864,format=auto/https://get.yankeehomeimprovement.com/images/showers/accessories/BCI%20Shower%20Shelf.jpeg"
      />
    </div>

    <div class="col-4">
      <img
        class="img-fluid rounded"
        src="https://favoredcompany.com/cdn-cgi/image/fit=scale-down,width=864,format=auto/https://get.yankeehomeimprovement.com/images/showers/accessories/BCI%20Shaving%20Stand.jpg"
      />
    </div>
    <div class="col-8">
      <h4>Shaving Stands</h4>
      <p>
        Built-in to your unit, our shaving stands perfectly blend with your shower to create a safer and more convenient
        way to shave
      </p>
    </div>

    <div class="col-8">
      <h4>Soap Dishes</h4>
      <p>
        Add a custom soap dish to store your favorite soap to create a custom yet handy addition to your shower space
      </p>
    </div>
    <div class="col-4">
      <img
        class="img-fluid rounded"
        src="https://favoredcompany.com/cdn-cgi/image/fit=scale-down,width=864,format=auto/https://get.yankeehomeimprovement.com/images/showers/accessories/BCI%20Soap%20Dish.png"
      />
    </div>
  </div>

  <div class="row" id="limited-time-offer">
    <h3>Limited Time Offer</h3>
    <h5>Get your project started with no money down!*</h5>
    <h4>50% Off Installation Cost</h4>
  </div>

  <div class="row" id="heyflow">
    <heyflow-wrapper flow-id="shower-wizard" dynamic-height style-config='{"width": "100%"}'></heyflow-wrapper>
  </div>

  <div class="row" id="coupon">
    <h3>LIMITED ONE-TIME 24-HOUR OFFER</h3>
    <h4>Complete The Application Within 24-Hours To Unlock Your Additional $250 OFF Coupon!</h4>
    <h5>Coupon Valid Until <span id="thirtyDayDate"></span></h5>
    <h5>Offer Valid Until <span id="twentyFourHourDate"></span> EST</h5>
    <hr />
    <a href="#heyflow" class="btn btn-lg btn-success" style="width: 75%; margin: auto; display: block"
      >UNLOCK MY COUPON</a
    >
  </div>

  <div class="row" id="about-us">
    <h3>Experience The All-Weather Seal Difference</h3>
    <h5>173 Human Beings Dedicated To<br />Providing You A No Worries Shower Remodel</h5>

    <div class="row">
      <div class="col-4">
        <span>🛠</span>
        <h4>Transform your home with integrity and quality craftsmanship!</h4>
      </div>
      <div class="col-8">
        <p>
          Transform your home with All Weather Seal of West Michigan, the trusted choice for expert home improvement
          services since 1981. Our premium home upgrades use only the highest quality materials, backed by
          industry-leading warranties. Experience unparalleled satisfaction and integrity with a community-focused
          company that truly prioritizes your needs.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <p>
          Experience expert craftsmanship and unrivaled customer satisfaction with industry-leading warranties. Discover
          why over 500 homeowners rate us 5.0 for show conversions in West Michigan.
        </p>
      </div>
      <div class="col-4">
        <span>🌟</span>
        <h4>The most trusted local experts since 1981!</h4>
      </div>
    </div>

    <div class="row" style="margin-bottom: 40px">
      <div class="col-4">
        <span>🏠</span>
        <h4>Quality You Can Count On!</h4>
      </div>
      <div class="col-8">
        <p>
          Elevate your home with All Weather Seal of West Michigan’s premium home upgrades. Experience unparalleled
          quality and expert craftsmanship using top-tier materials, tailored to Michigan’s distinct needs. Trusted
          since 1981, we offer industry-leading warranties. Transform your space with our community-focused assurance
          today!
        </p>
      </div>
    </div>
  </div>

  <div class="row" id="limited-time-offer">
    <h3>Currently Planning For <span style="text-decoration: underline">884 Shower Installs</span> in 2025</h3>
    <h4 style="font-size: 3vw">Get your price now before our schedule is full!</h4>
  </div>

  <div class="row" id="heyflow">
    <heyflow-wrapper flow-id="shower-wizard" dynamic-height style-config='{"width": "100%"}'></heyflow-wrapper>
  </div>

  <div class="row" id="coupon">
    <h3>LIMITED ONE-TIME 24-HOUR OFFER</h3>
    <h4>Complete The Application Within 24-Hours To Unlock Your Additional $250 OFF Coupon!</h4>
    <h5>Coupon Valid Until <span id="thirtyDayDate"></span></h5>
    <h5>Offer Valid Until <span id="twentyFourHourDate"></span> EST</h5>
    <hr />
    <a href="#heyflow" class="btn btn-lg btn-success" style="width: 75%; margin: auto; display: block"
      >UNLOCK MY COUPON</a
    >
  </div>

  <div class="row" id="disclaimer">
    <p>
      *Most standard projects completed in one day, complex designs completed in an average of 2 days. Special offers
      may not be combined with any other discounts. Special Offer valid at first visit only. Some restrictions apply.
      Some products may not qualify for special offers. Maximum discount may not exceed 10% off retail price. Financing
      is subject to third party approval. 50% off of installation is equal to 7.5% of the retail price. No money down
      requires a fully financed project. All communication with All-Weather Seal Of West Michigan may be recorded for
      quality and training purposes.<br />
      MI # 2102181856
    </p>
  </div>

  <div class="row" id="footer">
    <div class="col-sm-4">
      <img loading="lazy" src="/static/img/min/logo.png" />
    </div>
    <div class="col-sm-4">
      <h4>Lowell Headquarters</h4>
      <h5>(866) 576-9177</h5>
      <h5>319 E Main St.<br />Lowell, MI 49331</h5>

      <h4>Traverse City Area</h4>
      <h5>(231) 432-5513</h5>
      <h5>4306 S M-37<br />Grawn, MI 49637</h5>
    </div>
    <div class="col-sm-4">
      <h4>Ludington</h4>
      <h5>(231) 936-2471</h5>
      <h5>3900 US-10<br />Ludington, MI 49431</h5>

      <h4>Petoskey</h4>
      <h5>(231) 535-9421</h5>
      <h5>2210 E. Mitchell Rd.<br />Petoskey, MI 49770</h5>
    </div>

    <hr />

    <ul>
      <li><a href="/terms">Terms</a></li>
      <li>Privacy</li>
      <li>Contact</li>
      <li>All-Weather Seal Of West Michigan © 2024 - 2025. All Rights Reserved.</li>
    </ul>
  </div>
</div>
{% endblock %}
