<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shower Cost Calculator - Improvements Wizard</title>
    <link rel="icon" type="image/png" href="/static/img/logo2.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if description %}
    <meta name="description" content="{{ description }}" />
    {% endif %}

    <!-- Vendors -->
    <link href="/static/css/vendor/bootstrap.min.css?v={{ range(1000000,9999999) | random }}" rel="stylesheet" />

    <!-- Custom Scipts -->
    <link href="/static/css/style.css?v={{ range(1000000,9999999) | random }}" rel="stylesheet" />
    <script async src="/static/js/app.js?v={{ range(1000000,9999999) | random }}"></script>
    <script async src="/static/js/popup.js?v={{ range(1000000,9999999) | random }}"></script>

    <!-- Open Graph -->
    {% if title %}
    <meta property="og:title" content="{{ title }}" />
    {% else %}
    <meta property="og:title" content="{{ proj_title }}" />
    {% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ canonical_url }}" />
    {% if img %}
    <meta property="og:image" content="{{ canonical_url }}/static/img/webp/{{ '.'.join(img.split('.')[:-1]) }}.webp" />
    {% endif %}
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="{{ proj_title }}" />
    {% if description %}
    <meta property="og:description" content="{{ description }}" />
    {% endif %} {% if description %}
    <meta name="description" content="{{ description }}" />
    {% endif %}

    <!-- JSON-LD -->
    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "LocalBusiness",
          "@id": "{{ jsonld_id }}",
          "url": "{{ canonical_url }}",
          "name": "{{ proj_title }}",
          "address":
            "@type": "PostalAddress",
            "streetAddress": "{{ contact['mail']['street'] }}",
            "addressLocality": "{{ contact['mail']['city'] }}",
            "addressRegion": "{{ contact['mail']['state'] }}",
            "postalCode": "{{ contact['mail']['postal'] }}",
            "addressCountry": "US"
          },
          "telephone": "{{ contact['phone'] }}",
          "priceRange": "$$",
          {%- if img %}
          "image": "{{ canonical_url }}/static/img/webp/{{ '.'.join(img.split('.')[:-1]) }}.webp",
          {% endif -%}
          {%- if description -%}
          "description": "{{ description }}",
          {% endif -%}

          "sameAs": [
            {% for key in social_media -%}
            "{{ social_media[key] }}"{% if not loop.last %},{% endif %}
            {% endfor -%}
          ]
      }
    </script>

    <!-- Defer JS -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ gtag }}"></script>
    <script type="text/javascript">
      function GetJS() {
        var element = document.createElement("script");
        element.src = "https://assets.prd.heyflow.com/builder/widget/latest/webview.js";
        document.body.appendChild(element);

        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "{{ gtag }}");

        // Initialize the popup
        new ExitIntentPopup();
      }
    </script>
    <title>{% if title %}{{ title }} - {% endif %}{{ proj_title }}</title>
    {% block insert_header %}{% endblock %}
  </head>
  <body onload="window.onDomReady(GetJS())">
    {% block body %}{% endblock %}
  </body>
</html>
